

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

.h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin: 2rem;
    color: #7D070C;
}

p {
    font-size: 14px;
}

.intro-p {
    margin: 2rem 4rem;
    line-height: 24px;
    letter-spacing: .6px;
    font-size: 14px;
}

/*for the edit page*/

.edit-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 2rem;
}

.edit {
    width: 2.5rem;
    margin-left: -1rem;
    cursor: pointer;
}

.edit-cards {
    display: flex;
    margin: 0 auto 1rem auto;
    width: 2.5rem;
    cursor: pointer;
}

/* edit page end*/

.main-img2 {
    max-width: 100%;
    display: flex;
    margin: auto;
}

.laeknar-container {
    margin: 2rem 4rem;
}

.laeknar-h1 {
    color: #7D070C;
    margin: 2rem auto;
    font-size: 24px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    align-items: stretch;
    position: relative;
}

.individual-cards {
    border: solid 1px rgba(0, 0, 0, 0.300);
    border-radius: 8px;
    margin-bottom: 4rem;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.individual-cards:hover {
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.5);
}

.card-img {
    max-width: 100%;
    border-radius: 6px 6px 0 0;
}

.doctors-p {
    margin: 1rem 2rem 2rem 2rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(53, 53, 53, 0.151); /* Semi-transparent black background */
    z-index: 1000; /* Ensure it's above other elements */
  }

.popup-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff; /* White background for the card */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle lift */
    z-index: 1001; /* Ensure it's above the overlay */
  }

  .popup-img {
    width: 250px;
    height: 200px;
  }

  .popup-doctors-p3 {
    margin: 1rem auto;
  }

  .close-btn {
    padding: .3rem;
    background-color: white;
    border-radius: 8%;
    float: right;
  }



@media only screen and (min-width: 768px){

    .h1 {
        margin: 4rem;
        font-size: 40px;
    }

    p {
        font-size: 16px;
    }

    .image-and-intro {
        display: flex;
        flex-direction: row;
        margin-bottom: 6rem;
    }

    .main-img2 {
        max-width: 30%;
        order: 2;
        margin-right: 4rem;
    }

    .intro-p {
        margin: 0 2rem auto 8rem;
        font-size: 16px;
        letter-spacing: .5px;
    }
    
    .laeknar-h1 {
        font-size: 28px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        grid-gap: 50px;
        align-items: stretch;
        position: relative;
        margin-left: 6rem;
    }
        
    .individual-cards {
        border: solid 1px rgba(0, 0, 0, 0.457);
        border-radius: 8px;
    }

    .popup-img {
        width: 350px;
        height: 250px;
      }
    
}

@media only screen and (min-width: 1024px){

    .h1 {
        font-size: 40px;
        margin: 5rem;
    }

    p {
        font-size: 18px;
    }

    .main-img2 {
        max-width: 50%;
        order: 2;
    }

    .intro-p {
        font-size: 18px;
        line-height: 30px;
    }

    .laeknar-container {
        margin: 2rem 6rem;
    }
    
    .laeknar-h1 {
        font-size: 30px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 80px;
        align-items: stretch;
        position: relative;
    }

    .individual-cards {
        border: solid 1px rgba(0, 0, 0, 0.457);
        border-radius: 8px;
        margin-bottom: 4rem;
    }

    .popup-img {
        width: 550px;
        height: 400px;
      }

}