@import './variables.scss'; 
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $lora;
}

.laeknar-container {
    margin: 2rem 4rem;
}

.h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    color: $thedarkred;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.intro-p {
    margin: 2rem 4rem;
    line-height: 25px;
    letter-spacing: .6px;
}

.main-img2 {
    max-width: 75%;
    display: flex;
    margin: auto;
}

.laeknar-h2 {
    color: $thedarkred;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 24px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    align-items: stretch;
}

.individual-card {
    border: solid 1px rgba(0, 0, 0, 0.457);
    border-radius: 8px;
    margin-bottom: 6rem;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
    width: 250px;
}

.card-img {
    max-width: 100%;
    border-radius: 6px 6px 0 0;
}

.doctors-p {
    margin: 1rem 2rem 4rem 2rem;
}


@media only screen and (min-width: 768px){
    .laeknar-container {
        margin: 3rem 8rem;
    }

    .h1 {
        margin: 5rem;
    }

    .image-and-intro {
        display: flex;
        margin-bottom: 6rem;

    }

    .main-img2 {
        max-width: 40%;
        order: 2;
        margin-right: 4rem;
    }

    .intro-p {
        margin: 0 2rem auto 8rem;
    }
    
    .laeknar-h2 {
        font-size: 26px;
    }

    .cards {
        margin: -2rem;
    }

    .individual-card {
        border: solid 1px rgba(0, 0, 0, 0.457);
        border-radius: 8px;
        margin: 2rem;
    }
    
}

@media only screen and (min-width: 1024px){

    .h1 {
        font-size: 40px;
        margin: 6rem;
    }

    .main-img2 {
        max-width: 50%;
        order: 2;
    }

    .intro-p {
        font-size: 18px;
        line-height: 30px;
    }
    
    .laeknar-h2 {
        font-size: 30px;
    }

}