

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

.h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin: 2rem;
    color: #7D070C;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.intro-p {
    margin: 2rem 4rem;
    line-height: 24px;
    letter-spacing: .6px;
    font-size: 14px;
}

/*for the edit page*/

.edit-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 2rem;
}

.edit {
    width: 2.5rem;
    margin-left: -1rem;
    cursor: pointer;
}

.edit-cards {
    display: flex;
    margin: 0 auto 1rem auto;
    width: 2.5rem;
    cursor: pointer;
}

/* edit page end*/

.main-img2 {
    max-width: 100%;
    display: flex;
    margin: auto;
}

.laeknar-container {
    margin: 2rem 4rem;
}

.laeknar-h1 {
    color: #7D070C;
    margin: 1rem auto;
    font-size: 24px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    align-items: stretch;
    position: relative;
}

.individual-cards {
    border: solid 1px rgba(0, 0, 0, 0.300);
    border-radius: 8px;
    margin-bottom: 4rem;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
}

.card-img {
    max-width: 100%;
    border-radius: 6px 6px 0 0;
}

.doctors-p {
    margin: 1rem 2rem 2rem 2rem;
}



@media only screen and (min-width: 768px){

    .h1 {
        margin: 4rem;
        font-size: 40px;
    }

    .image-and-intro {
        display: flex;
        flex-direction: row;
        margin-bottom: 6rem;
    }

    .main-img2 {
        max-width: 40%;
        order: 2;
        margin-right: 4rem;
    }

    .intro-p {
        margin: 0 2rem auto 8rem;
        font-size: 16px;
        letter-spacing: .5px;
    }
    
    .laeknar-h1 {
        font-size: 28px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 50px;
        align-items: stretch;
        position: relative;
    }
        
    .individual-cards {
        border: solid 1px rgba(0, 0, 0, 0.457);
        border-radius: 8px;
    }
    
}

@media only screen and (min-width: 1024px){

    .h1 {
        font-size: 40px;
        margin: 5rem;
    }

    .main-img2 {
        max-width: 50%;
        order: 2;
    }

    .intro-p {
        font-size: 18px;
        line-height: 30px;
    }
    
    .laeknar-h1 {
        font-size: 30px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 80px;
        align-items: stretch;
        position: relative;
    }

    .individual-cards {
        border: solid 1px rgba(0, 0, 0, 0.457);
        border-radius: 8px;
        margin-bottom: 4rem;
    }

}