.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    margin: 8rem auto;
    border: solid #AC0B11;
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    margin: 2rem;
}

.email {
    margin: .2rem auto .7rem auto;
    border: solid 1px;
    padding: 8px;
    border-radius: 5px;
}

.password {
    margin: .2rem auto .7rem auto;
    border: solid 1px;
    padding: 8px;
    border-radius: 5px;
}

.login-btn {
    margin: 1rem .5rem 2rem .5rem;
    padding: 8px;
    border-radius: 5px;
    border: solid 1px;
    cursor: pointer;
    border: solid #AC0B11;
    background-color: #AC0B11;
    width: 172px;
    color: white;
}

.login-btn:hover {
    background-color: #7D070C;
}