@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&family=Raleway:ital,wght@0,500;0,700;1,300&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.modal-overlay {
    background-color: white;
}

.modal-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(222, 222, 222);
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 0 0 -1rem;
    background-color: #ffffff;
    z-index: 1;
}

.edit-text-h2 {
    color: #AC0B11;
    font-size: 22px;
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: .7rem;
}

.title-textarea {
    padding: .5rem;
    border: solid 1.5px #d6d6d6;
    border-radius: 5px;
    height: 80px;
    background-color: white;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.save-btn {
    border: none;
    background-color: #AC0B11;
    color: #ffffff;
    width: 76px;
    height: 36px;
    padding: .5rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.cancel-btn {
    border: solid 1.5px #AC0B11;
    background-color: #AC0B11;
    color: #ffffff;
    width: 76px;
    height: 36px;
    padding: .5rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.save-btn:hover, .cancel-btn:hover {
    background-color: #7D070C;
}