@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&family=Raleway:ital,wght@0,500;0,700;1,300&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.modal-content {
    display: flex;
    flex-direction: column;
    margin: auto 4rem;
}

.edit-text-h2 {
    color: #7D070C;
}

.title-textarea {
    padding: .5rem;
    border: solid 1.5px #AC0B11;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.save-btn {
    border: none;
    background-color: #AC0B11;
    color: #ffffff;
    width: 64px;
    padding: .5rem;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.cancel-btn {
    border: solid 1.5px #AC0B11;
    background-color: #AC0B11;
    color: #ffffff;
    width: 64px;
    padding: .5rem;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 1rem;
    cursor: pointer;
}