@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&family=Raleway:ital,wght@0,500;0,700;1,300&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.modal-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

.modal-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(222, 222, 222);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 360px;
    padding: 1rem;
    margin: 1rem 0 0 -1rem;
    background-color: #ffffff;
    z-index: 1;
}

.edit-text-h2 {
    color: #AC0B11;
    font-size: 22px;
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: .7rem;
}

.title-textarea, .title-input {
    padding: .5rem;
    border: solid 1px #d6d6d6;
    border-radius: 5px;
    height: 56px;
    background-color: white;
    margin-bottom: .5rem;
}

.save-btn {
    border: none;
    background-color: #AC0B11;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    transition: background-color 0.3s
}

.cancel-btn {
    border: solid 2px #AC0B11;
    background-color: white;
    color: #AC0B11;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    transition: background-color 0.3s
}

.save-btn:hover {
    background-color: #7D070C;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
}

.cancel-btn:hover {
    border: solid 2px #7D070C;
    color: #7D070C;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
}

  /* Modal header */
  .modal-content h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  /* Input fields */
  .modal-content input {
    padding: .5rem;
    border: solid 1px #d6d6d6;
    border-radius: 5px;
    height: 56px;
    background-color: white;
    margin-bottom: .5rem;
  }
  