@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&display=swap");

a {
  text-decoration: none;
}

.main-img {
  max-width: 100%;
  z-index: -1;
  position: relative;
}

.welcome-h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 0 10rem;
  font-size: 18px;
  z-index: 1;
  position: absolute;
}

span {
  color: #AC0B11;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  height: 172px;
  background-color: #ffffff;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem 2rem;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px rgb(212, 212, 212);
  border-radius: 8px;
  width: 80px;
  height: 88px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.icon-box:hover {
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
}

.iconbtn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: .5rem 0;
}

.icon {
  width: 48px;
  margin-bottom: 4px;
}

.info-btn2 {
  font-size: 12px;
  font-weight: 700;
  color: #AC0B11;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  padding: 2px;
}

h2, h3 {
  margin-bottom: 2rem;
  color: #AC0B11;
}

.oh-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 4rem 3rem 4rem;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem 1.5rem 4rem;
}

.instructions1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem 1.5rem 4rem;
}

.where {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.where-h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem auto 2rem auto;
  color: #AC0B11;
}

.oh-h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto 2rem auto;
  color: #AC0B11;
  border: solid #AC0B11;
  padding: 1rem;
  border-radius: 8px;
}

.where-p {
  margin: .5rem;
}

.where-img {
  max-width: 80%;
  margin: 0 4rem 4rem 4rem;
}

.where-img1 {
  max-width: 80%;
  margin: 0 4rem 4rem 4rem;
}

.whatissetrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
}

@media only screen and (min-width: 700px) {
  .main-img {
  }

  .welcome-h1 {
    margin: 2rem 0 0 20rem;
    font-size: 20px;
  }

  span {
    font-size: 26px;
  }
  
  .info-box {
    height: 240px;
    padding: 2rem 4rem;
  }

  .icon-box {
    width: 136px;
    height: 136px;
    margin: .2rem .1rem 1.3rem .1rem; 
  }

  .phone {
    font-size: 20px;
    margin: 2rem 0 0 0;
  }
  .info-btn1, .info-btn2 {
    font-size: 18px;
  }
  
  .where-h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem auto 2rem auto;
  }

  .instructions {
    padding: 1rem 8rem 1.5rem 8rem;
  }
  .instructions1 {
    padding: 1rem 8rem 1.5rem 8rem;
  }

}
@media only screen and (min-width: 900px) {

  .main-img {
  }

  .info-box {
    height: 256px;
    padding: 2.5rem 6rem; 
  }

  .iconbtn {
  }

  .icon {
    width: 80px;
  }

  .icon-box {
    width: 168px;
    height: 152px;
  }

  .info-btn1, .info-btn2 {
    font-size: 20px;
    letter-spacing: 1.5px;
  }

  .instructions {
    padding: 0 6rem 2rem 6rem;
  }

  .instructions1 {
    padding: 0 6rem 2rem 6rem;
  }

  .oh-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 9rem 3rem 9rem;
  }

  .where {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .where1 {
    width: 50%;
  }

  .where-h2 {
    font-size: 40px;
    margin: 10rem auto 4rem auto;
  }

  .where-img {
    max-width: 80%;
    margin: 0 4rem 0 6rem;
  }

  .where-img1 {
    width: 450px;
    height: 250px;
    margin: 0 6rem 0 4rem;
  }
}

@media only screen and (min-width: 1050px) {

  .welcome-h1 {
    font-size: 28px;
    margin: 2rem 0 0 40rem;
  }

  span {
    font-size: 40px;
  }

  .main-img {
  }

  .info-box {
    padding: 0 4rem;
  }

  .info-box {
    padding: 2rem 8rem;
    margin-top: -6rem;
    height: 296px;
  }

  .icon-box {
    width: 200px;
    height: 176px;
  }

}

@media only screen and (min-width: 1300px) {
  .main-img {
    width: 100%;
    height: 800px;
  }

  .info-box {
    height: 14rem;
    padding: 4rem;
  }
  
  h2, h3 {
    margin-bottom: 2rem;
  }
  
  .instructions {
    padding: 1rem 16rem 4rem 24rem;
  }

  .instructions1 {
    padding: 1rem 24rem 4rem 16rem;
  }
  
  .where-img {
    max-width: 80%;
    margin: 0 16rem 4rem 24rem;
  }

  .where-img1 {
    width: 800px;
    height: 500px;
    margin: 0 24rem 4rem 16rem;
  }
  
}

/*# sourceMappingURL=style.css.map */