@import url('https://fonts.googleapis.com/css?family=Mukta:700');

* {
  box-sizing: border-box;
  }

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  
  &.learn-more {
    width: 7rem;
    height: auto;
    .circle {
      transition: all 0.65s cubic-bezier(0.65,0,.076,1);
      position: relative;
      display: block;
      margin: 0;
      width: 1.7rem;
      height: 1.7rem;
      background: #AC0B11;
      border-radius: 1.625rem;

      .icon {
        transition: all 0.65s cubic-bezier(0.65,0,.076,1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: white;

        &.arrow {
          transition: all 0.65s cubic-bezier(0.5,0,.05,1);
          top: 0;
          left: 0;
          width: 0.8rem;
          height: 0.8rem;
          background: none;

          &::before {
            position: absolute;
            content: '';
            width: 0.6rem;
            height: 0.6rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      transition: all 0.65s cubic-bezier(0.65,0,.076,1);
      position: absolute;
      top: -.34rem;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: #AC0B11;
      font-weight: 700;
      line-height: 1;
      font-size: 14px;
      letter-spacing: .8px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;

      .icon {
        &.arrow {
        transform: translate(.5rem, 0);
        }
      }
    }
    .button-text {
      color: white;
    }
  }
}


/*

<div className='iconbtn'>
                    <img className='icon' src='/icondoctors.svg' alt='doctor icon' />
                    <Link href='/laeknar'>
                        <div>
                            <button className="learn-more">
                                <span className="circle" aria-hidden="true">
                                    <span className="icon arrow"></span>
                                </span>
                                <span className="button-text">Læknar</span>
                            </button>
                        </div>
                    </Link>
                </div>
*/