@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&family=Raleway:ital,wght@0,500;0,700;1,300&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-top: 4rem;
}

p {
  font-size: 12px;
  text-align: center;
  color: black;
  margin: .5rem 1rem;
  line-height: 24px;
}

.undericon {
  color: #AC0B11;
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 14px;
  font-weight: 500;
}

button {
  margin: 1rem 0;
  padding: .8rem;
  background-color: #AC0B11;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 112px;
  letter-spacing: .5px;
  font-size: 14px;
}

button:hover {
  background-color: #81090D;
}

.imgandtext {
  display: flex;
}

.main-img {
  max-width: 100%;
  z-index: -1;
  position: relative;
}

.welcome-h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 2rem 0 2rem;
  font-size: 16px;
  z-index: 1;
  position: absolute;
}

span {
  color: #AC0B11;
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.phoneclockcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #cdcdcd;
  padding: 1.5rem;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.iconbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 96px;
  padding: .5rem;
  margin: 1rem;
  border-radius: 8px;
}

.icon {
  width: 64px;
}

.icon2 {
  width: 48px;
}

.icon3 {
  width: 56px;
  margin-bottom: .3rem;
  margin-top: .5rem;
}

.textandbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-btn2 {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  margin: 0;
}

.oh-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.oh {
  color: black;
  text-align: center;
  margin-bottom: .2rem;
}

h2, h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: #AC0B11;
}

.text {
  margin: 1rem 4rem;
  letter-spacing: .3px;
  line-height: 24px;
}

.midsectioncontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 4rem 6rem 4rem;
}

.midsectionbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 216px;
  border: solid 1px #AC0B11;
  border-radius: 8px;
  margin-top: 2rem;
}

/*
.oh-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 4rem 3rem 4rem;
}*/

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem 1.5rem 4rem;
}

.instructions1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem 1.5rem 4rem;
}

.where {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.where-h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem auto 2rem auto;
  color: #AC0B11;
}

.oh-h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto 2rem auto;
  color: #AC0B11;
  border: solid #AC0B11;
  padding: 1rem;
  border-radius: 8px;
}

.where-p {
  margin: .5rem;
}

.where-img {
  max-width: 80%;
  margin: 0 4rem 4rem 4rem;
}

.where-img1 {
  max-width: 80%;
  margin: 0 4rem 4rem 4rem;
}

.whatissetrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
}

@media only screen and (min-width: 700px) {
  h2 {
    font-size: 20px;
    margin-top: 6rem;
    margin-bottom: 4rem;
  }

  p {
    font-size: 14px;
  }

  .undericon {
    font-size: 18px;
  }

  .welcome-h1 {
    margin: 6rem 0 0 4rem;
    font-size: 20px;
  }

  span {
    font-size: 26px;
  }

  .iconbtn {
    width: 136px;
    height: 136px;
    margin: 2rem;
  }

  .icon {
    width: 56px;
    margin-bottom: 4px;
  }

  .icon2 {
    width: 64px;
  }

  .phone {
    font-size: 20px;
    margin: 2rem 0 0 0;
  }

  .info-btn1, .info-btn2 {
    font-size: 18px;
  }

  .text {
    margin: auto 6rem;
  }

  .midsectioncontainer {
    display: flex;
    flex-direction: row;
  }

  .midsectionbtn {
    height: 224px;
    width: 264px;
  }
  
  .where-h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem auto 2rem auto;
  }

  .instructions {
    padding: 1rem 8rem 1.5rem 8rem;
  }
  .instructions1 {
    padding: 1rem 8rem 1.5rem 8rem;
  }

  .oh-container {
    margin: 4rem 0 6rem 0;
  }

}
@media only screen and (min-width: 900px) {
  h2 {
    font-size: 22px;
  }

  .undericon {
    font-size: 20px;
    margin-bottom: 1rem;
  }

  .iconbtn {
    width: 160px;
    height: 152px;
    margin: 2rem;
  }

  .icon {
    width: 64px;
  }

  .icon2 {
    width: 72px;
  }

  .info-btn1, .info-btn2 {
    font-size: 20px;
    letter-spacing: 1.5px;
  }

  .text {
    margin: auto 10rem;
  }

  .midsectionbtn {
    width: 400px;
    margin: 2rem;
  }

  .instructions {
    padding: 0 6rem 2rem 6rem;
  }

  .instructions1 {
    padding: 0 6rem 2rem 6rem;
  }

  /*
  .oh-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 9rem 3rem 9rem;
  }*/

  .where {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .where1 {
    width: 50%;
  }

  .where-h2 {
    font-size: 40px;
    margin: 10rem auto 4rem auto;
  }

  .where-img {
    max-width: 80%;
    margin: 0 4rem 0 6rem;
  }

  .where-img1 {
    width: 450px;
    height: 250px;
    margin: 0 6rem 0 4rem;
  }
}

@media only screen and (min-width: 1050px) {
  h2 {
    font-size: 32px;
  }

  p {
    font-size: 16px;
  }

  button {
    padding: 1rem;
    font-size: 18px;
    margin: 2rem;
    width: 136px;
  }

  .welcome-h1 {
    font-size: 32px;
    margin: 10rem 0 0 8rem;
  }

  span {
    font-size: 40px;
    margin: .5rem;
  }

  .iconbtn {
    width: 200px;
    height: 200px;
    margin: 4rem;
  }

  .icon-box {
    width: 336px;
    height: 240px;
  }

  .icon2 {
    width: 96px;
  }

  .icon {
    margin: 1rem;
  }

  .icon3 {
    margin: 1rem;
  }

  .midsectionbtn {
    height: 296px;
    padding: 1rem;
  }

  .text {
    margin: auto 10rem;
  }

}

@media only screen and (min-width: 1300px) {

  p {
    font-size: 18px;
    line-height: 28px;
  }

  .main-img {
    width: 100%;
    height: 800px;
  }

  .info-box {
    height: 14rem;
    padding: 4rem;
  }
  
  h2, h3 {
    margin-bottom: 2rem;
  }
  
  .instructions {
    padding: 1rem 16rem 4rem 24rem;
  }

  .instructions1 {
    padding: 1rem 24rem 4rem 16rem;
  }
  
  .where-img {
    max-width: 80%;
    margin: 0 16rem 4rem 24rem;
  }

  .where-img1 {
    width: 800px;
    height: 500px;
    margin: 0 24rem 4rem 16rem;
  }

  .text {
    margin: auto 20rem;
    font-size: 18px;
    line-height: 28px;
  }
  
}

@media only screen and (min-width: 1450px) {
  .text {
    margin: auto 30rem;
    font-size: 18px;
    line-height: 28px;
  }

}

/*# sourceMappingURL=style.css.map */