@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&display=swap");
.main-img {
  max-width: 100%;
  z-index: -1;
  position: relative;
}

.info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  height: 14rem;
  background-color: #ffffff;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
  padding: 2rem;
}

.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  color: #AC0B11;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin: -1rem -4rem 3rem -4rem;
}

.phone-img {
  width: 46px;
}

.info-btn1, .info-btn2 {
  background-color: #AC0B11;
  width: 104px;
  height: 48px;
  border: none;
  border-radius: 5px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 5rem;
  cursor: pointer;
}

.info-btn1 {
  margin-left: 2rem;
}

.info-btn2 {
  margin-right: 2rem;
}

h2, h3 {
  margin-bottom: 2rem;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem 4rem 4rem;
}

p {
  margin-top: 0.7rem;
}

.where {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.where-h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem auto 2rem auto;
}

.where-p {
  margin: 0;
}

.where-img {
  max-width: 80%;
  margin: 0 4rem 4rem 4rem;
}

.whatissetrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
}

.stjorn-container {
  margin: 4rem;
}

.stjorn-h3 {
  color: #7D070C;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 22px;
}

@media only screen and (min-width: 700px) {
  .info-box {
    height: 14rem;
    padding: 3rem;
  }
  .phone {
    font-size: 34px;
    margin: 0 -4rem;
  }
  .phone-img {
    width: 70px;
  }
  .info-btn1, .info-btn2 {
    width: 160px;
    height: 85px;
    font-size: 30px;
    margin-top: 0;
  }
  .instructions {
    padding: 1rem 8rem 4rem 8rem;
  }
  .stjorn-container {
    margin: 3rem 6rem;
  }
  .stjorn-h3 {
    font-size: 26px;
  }
  p {
    margin: 0.5rem 2rem;
  }
}
@media only screen and (min-width: 900px) {

  .info-box {
    height: 16rem;
    padding: 5rem;
  }

  .phone {
    font-size: 32px;
    margin: 0 -4rem;
  }

  .phone-img {
    width: 86px;
    margin-bottom: 1rem;
  }

  .info-btn1, .info-btn2 {
    width: 224px;
    height: 96px;
    font-size: 32px;
    margin-top: 0;
    letter-spacing: 1.5px;
  }

  .instructions {
    padding: 0 6rem 4rem 6rem;
  }

  .where {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .where1 {
    width: 50%;
  }

  .where-h2 {
    font-size: 40px;
    margin: 6rem auto;
  }

  .where-img {
    max-width: 80%;
    margin: 0 4rem 0 6rem;
  }

  .where-img1 {
    width: 450px;
    height: 250px;
    margin: 0 6rem 0 4rem;
  }
}

@media only screen and (min-width: 1050px) {

  .info-box {
    padding: 8rem;
  }

  .stjorn-container {
    margin: 3rem 8rem;
  }

  .stjorn-h3 {
    font-size: 30px;
  }

  p {
    margin: 1rem 2rem;
  }

}/*# sourceMappingURL=style.css.map */