* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    color: #AC0B11;
}

.image-and-intro {
    margin: 2rem 4rem 4rem 4rem;
}

.intro-p {
    line-height: 25px;
    letter-spacing: .6px;
    margin-top: 1rem;
}

.main-img2 {
    max-width: 100%;
    display: flex;
    margin: auto;
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    position: relative;
    margin: 3rem 4rem 6rem 4rem;
}

.individual-btn {
    display: flex;
    flex: 1;
    align-items: center;
    border: solid 1px rgba(0, 0, 0, 0.257);
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 120px;
    cursor: pointer;
    font-size: 16px;
}

.individual-btn:hover {
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
}

.card-icon {
    width: 56px;
    margin: auto .6rem;
}

.btn-h2 {
    font-size: 15px;
    color: #AC0B11;
    padding: 1rem;
}

/*for the edit page*/

.edit-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 2rem;
}

.edit {
    width: 2.5rem;
    margin: auto 4rem auto -3rem;
    cursor: pointer;
}

.edit-cards {
    display: flex;
    margin: 0 auto 1rem auto;
    width: 2.5rem;
    cursor: pointer;
}

/* edit page end*/

@media only screen and (min-width: 768px){

    .h1 {
        margin: 5rem;
    }

    .intro-p {
        margin-right: 2rem;
    }

    .btn-h2 {
        font-size: 16px;
        color: #AC0B11;
    }

    .image-and-intro {
        display: flex;
        flex-direction: row;
        margin: auto 6rem 6rem 6rem;
    }

    .main-img2 {
        max-width: 40%;
        order: 2;
    }

    .btn-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        grid-gap: 25px;
        align-items: stretch;
        position: relative;
        margin: 2rem 6rem 6rem 6rem;
    }

}

@media only screen and (min-width: 1024px){

    .h1 {
        font-size: 40px;
        margin: 6rem;
    }

    .btn-h2 {
        font-size: 18px;
        color: #AC0B11;
    }

    .image-and-intro {
        margin: auto 12rem 6rem 12rem;
    }

    .main-img2 {
        max-width: 40%;
        order: 2;
    }

    .intro-p {
        font-size: 18px;
        line-height: 30px;
        margin: 0 2rem 0 0;
    }

    .btn-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 25px;
        align-items: stretch;
        position: relative;
        margin: 2rem 12rem 6rem 12rem;
    }

    .individual-btn {
        display: flex;
        align-items: center;
        width: calc(100% - 20px);
        height: 136px;
    }
    
    .rannsokn-p {
        font-size: 24px;
    }

}

@media only screen and (min-width: 1250px){

    .image-and-intro {
        margin: auto 16rem 6rem 16rem;
    }

    .main-img2 {
        max-width: 50%;
        order: 2;
    }

    .btn-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 25px;
        align-items: stretch;
        position: relative;
        margin: 2rem 16rem 6rem 16rem;
    }
}
