.search-container {
    position: relative; /*Container maintains its position */
  }

  .search {
    margin-top: 1rem;
    width: 50px;
    cursor: pointer;
  }

  .search-icon {
    display: inline-block;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .search-icon.hidden {
    opacity: 0;
    width: 0;
    overflow: hidden;
  }

  .search-bar {
    padding: .5rem;
    border-radius: 8px;
  }
  
  .search-bar.hidden {
    width: 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
  }

  .search-bar.visible {
    width: 150px;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .suggestions-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }

  .suggestion {
    margin: auto;
  }
  
  .search-results {
    width: 100%;
  }
  
  .staff {
    margin-bottom: 1px;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .dropdown-h3 {
    margin: -.5rem auto;
    font-size: 14px;
  }
  
  .staff p {
    margin: 1px 0;
  }

  .staff-link {
    text-decoration: none;
    color: #AC0B11;
    cursor: pointer; 
  }
  
  .staff-link:hover {
    text-decoration: underline;
  }

  @media only screen and (min-width: 750px) {

  .search-bar {
    width: 136px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: auto 2rem 3.5rem 2rem;
  }

  .search-icon {
    margin-left: 2rem;
  }
}

@media only screen and (min-width: 1000px) {

    .search-icon {
        margin-bottom: 1rem;
      }
}
  